/* CSS Document */
@font-face {
  font-family: "Archer-sage";
  src: url("../fonts/Archer-Light-Pro.otf");
  font-style: normal;
}
@font-face {
  font-family: "Archer-sage";
  src: url("../fonts/Archer-LightItal-Pro.otf");
  font-style: italic;
}
@font-face {
  font-family: "Archer-sage";
  src: url("../fonts/Archer-Bold-Pro.otf");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Archer-sage";
  src: url("../fonts/Archer-BoldItal-Pro.otf");
  font-style: italic;
  font-weight: bold;
}
@font-face {
  font-family: "Archer-sage";
  src: url("../fonts/Archer-Semibold-Pro.otf");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Archer-sage";
  src: url("../fonts/Archer-SembdItal-Pro.otf");
  font-style: italic;
  font-weight: 600;
}
#celek * {
  margin: 0px auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Archer-sage", sans-serif;
}

#celek {
  max-width: 1195px;
  margin: 0 auto;
  font-size: 16px;
}
#celek .pl-block {
  position: relative;
}
#celek .pl-block img.pl-full-w {
  width: 100%;
  height: auto;
}
#celek p {
  line-height: 36px;
}
#celek .pl-video-yt {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}
#celek .pl-video-yt iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#celek .pl-block-2-3 {
  width: 66.66%;
  float: left;
}
#celek .pl-block-1-3 {
  width: 33.33%;
  float: left;
}
#celek .pl-block-1-4 {
  width: 25%;
  float: left;
}
#celek .pl-block-2-4 {
  width: 50%;
  float: left;
}
#celek .pl-block-3-4 {
  width: 75%;
  float: left;
}
#celek .pl-block-4-2-4 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#celek .pl-block-4 {
  width: 40%;
  float: left;
}
#celek .pl-block-2 {
  width: 20%;
  float: left;
}
#celek .pl-img-hl1 {
  width: 342px;
}
#celek .pl-d-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#celek .displayflex {
  display: flex;
}
#celek .pl-block-four-icon {
  margin: 40px 60px;
  padding: 50px 0;
  border-top: 3px solid #e6e8ef;
  border-bottom: 3px solid #e6e8ef;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#celek .pl-block-four-icon p {
  font-size: 20px;
  font-style: italic;
  text-align: center;
  color: #585858;
  margin: 20px 32px 0 32px;
  line-height: 28px;
}
#celek .pl-block-four-icon .pl-border-left {
  border-left: 1px solid black;
}
#celek .pl-block-four-icon .pl-border-right {
  border-right: 1px solid black;
}
#celek .pl-left-brown-border {
  border-left: 12px solid #50233a;
}
#celek .pl-gray-block {
  width: 80%;
  background-color: #50233a;
  color: #ffffff;
  text-align: center;
  padding: 35px;
  z-index: 5;
  position: relative;
  top: 45px;
}
#celek .pl-gray-block p {
  color: #e6e8ef;
  font-size: 36px;
  font-weight: bold;
}
#celek .highlightsRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#celek .pl-right-option {
  width: 64%;
  background-color: #e6e8ef;
  padding: 45px 45px;
  float: left;
}
#celek .pl-right-option ul {
  list-style: none;
}
#celek .pl-right-option ul li {
  line-height: 28px;
  font-size: 16px;
  border-bottom: 4px solid #ffffff;
  margin: 10px 0;
  padding-bottom: 10px;
}
#celek .pl-left-option {
  width: 36%;
  background-color: #ffffff;
  padding: 0 40px 0 40px;
  float: left;
}
#celek .pl-block-last-right {
  width: 55%;
  float: left;
}
#celek .pl-block-last-left {
  width: 45%;
  float: left;
  margin: 20px 20px 20px 70px;
}
#celek .pl-block-last-left p {
  font-size: 16px;
  line-height: 36px;
  font-weight: bold;
  color: #585858;
  margin-top: 20px;
}
#celek .pl-iconx-1 {
  background: transparent url("../img/ico_01_mlynek.svg") 50% 0% no-repeat padding-box;
  background-size: contain;
  height: 45px;
}
#celek .pl-iconx-2 {
  background: transparent url("../img/ico_02_pid.svg") 50% 0% no-repeat padding-box;
  background-size: contain;
  height: 45px;
}
#celek .pl-iconx-3 {
  background: transparent url("../img/ico_03_predspareni.svg") 50% 0% no-repeat padding-box;
  background-size: contain;
  height: 45px;
}
#celek .pl-iconx-4 {
  background: transparent url("../img/ico_04_mnozstvi.svg") 50% 0% no-repeat padding-box;
  background-size: contain;
  height: 45px;
}
#celek .pl-iconx-5 {
  background-image: url("../img/Group 110.svg"), url("../img/Group 107.svg");
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, 70px 70px;
  height: 144px;
}
#celek sup {
  font-size: 20px;
}
#celek h2 {
  font-size: 50px;
}
#celek h3 {
  font-size: 36px;
  font-weight: bold;
  color: #50233a;
}
#celek h4 {
  font-size: 36px;
  font-weight: bold;
  line-height: 42px;
}
#celek .pl-txt-center {
  text-align: center;
}
#celek .pl-hr-line-80 {
  height: 3px;
  width: 95%;
  background-color: #e6e8ef;
  margin: 60px auto;
}
#celek .pl-gray-italic-32 {
  font-size: 32px;
  color: #50233a;
  font-style: italic;
  font-weight: 600;
}
#celek .pl-gray-32 {
  font-size: 32px;
  color: #50233a;
}
#celek .pl-img-title {
  font-size: 16px;
  line-height: 26px;
  font-style: italic;
  color: #50233a;
  text-align: center;
}
#celek .pl-mt-20 {
  margin-top: 20px;
}
#celek .pl-mt-40 {
  margin-top: 40px;
}
#celek .pl-mt-60 {
  margin-top: 60px;
}
#celek .pl-mt-80 {
  margin-top: 80px;
}
#celek .pl-m-20 {
  margin: 20px;
}
#celek .pl-m-40 {
  margin: 40px;
}
#celek .pl-ml-20 {
  margin-left: 20px;
}
#celek .pl-ml-40 {
  margin-left: 40px;
}
#celek .pl-ml-60 {
  margin-left: 60px;
}
#celek .pl-ml-80 {
  margin-left: 80px;
}
#celek .pl-mr-20 {
  margin-right: 20px;
}
#celek .pl-mr-40 {
  margin-right: 40px;
}
#celek .pl-mr-60 {
  margin-right: 60px;
}
#celek .pl-mr-80 {
  margin-right: 80px;
}
#celek .pl-mw-20 {
  margin-left: 20px;
  margin-right: 20px;
}
#celek .pl-mw-40 {
  margin-left: 40px;
  margin-right: 40px;
}
#celek .pl-mw-60 {
  margin-left: 60px;
  margin-right: 60px;
}
#celek .pl-mw-80 {
  margin-left: 80px;
  margin-right: 80px;
}
#celek .pl-mb-20 {
  margin-bottom: 20px;
}
#celek .pl-mb-40 {
  margin-bottom: 40px;
}
#celek .pl-mb-60 {
  margin-bottom: 60px;
}
#celek .pl-mb-80 {
  margin-bottom: 80px;
}
#celek .pl-pl-40 {
  padding-left: 40px;
}
#celek .pl-text-26 {
  font-size: 26px;
}
#celek .pl-p-60 {
  padding: 60px;
}
#celek .pl-pw-40 {
  padding-left: 40px;
  padding-right: 40px;
}
#celek .bold {
  font-weight: bold;
}

@media screen and (max-width: 920px) {
  .layout-0 #celek {
    max-width: 920px;
  }
  .layout-0 #celek h2 {
    font-size: 42px;
  }
  .layout-0 #celek .pl-gray-block p {
    font-size: 32px;
  }
  .layout-0 #celek .pl-gray-italic-32 {
    font-size: 26px;
    line-height: 36px;
  }
  .layout-0 #celek .pl-block-four-icon {
    margin: 40px 10px;
  }
  .layout-0 #celek .pl-block-four-icon p {
    font-size: 18px;
    margin: 20px 20px 0 20px;
    line-height: 26px;
  }
  .layout-0 #celek h3 {
    font-size: 32px;
    line-height: 42px;
  }
  .layout-0 #celek .pl-p-60 {
    padding: 0;
  }
  .layout-0 #celek .pl-block img.pl-full-w.pl-p-60 {
    width: 80%;
    height: auto;
  }
  .layout-0 #celek img.pl-full-w.pl-p-60.imgFix {
    width: 100%;
    padding: 60px;
  }
  .layout-0 #celek .pl-block-last-left {
    width: 57%;
    float: left;
    margin: 20px 20px 20px 40px;
  }
  .layout-0 #celek .pl-block-last-right {
    width: 43%;
    float: left;
  }
}
@media screen and (max-width: 525px) {
  .mobile #celek h2 {
    font-size: 26px;
    line-height: 36px;
  }
  .mobile #celek .pl-gray-block p {
    font-size: 20px;
    line-height: 30px;
  }
  .mobile #celek .pl-gray-block {
    width: 94%;
    padding: 20px;
  }
  .mobile #celek .pl-d-flex {
    flex-direction: column;
  }
  .mobile #celek .pl-d-flex > div {
    width: auto;
  }
  .mobile #celek .pl-mr-80 {
    margin: 15px;
  }
  .mobile #celek .pl-gray-italic-32 {
    font-size: 18px;
    line-height: 28px;
    color: #50233a;
    font-style: italic;
    font-weight: 600;
  }
  .mobile #celek .pl-block img.imgFixOne {
    width: 60%;
    height: auto;
    display: block;
    margin: auto;
  }
  .mobile #celek .pl-block-1-3 {
    margin: 40px 0;
  }
  .mobile #celek .mgZero {
    margin: 0;
  }
  .mobile #celek .pl-block-four-icon {
    display: flex;
    flex-direction: column;
  }
  .mobile #celek .pl-border-left,
  .mobile #celek .pl-border-right {
    border: none;
  }
  .mobile #celek .pl-block-four-icon p {
    font-size: 14px;
    font-style: italic;
    text-align: center;
    color: #585858;
    margin: 20px 8px 0 8px;
    line-height: 20px;
  }
  .mobile #celek .highlightsItem {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
  }
  .mobile #celek .mobileBorderRight {
    border-right: 1px solid black;
  }
  .mobile #celek .mobileBorderBottom {
    border-bottom: 1px solid black;
  }
  .mobile #celek .fxDirRow {
    flex-direction: row;
  }
  .mobile #celek .fxDirColRev {
    flex-direction: column-reverse;
  }
  .mobile #celek .imgCenter {
    display: block;
    margin: auto;
  }
  .mobile #celek .pl-hr-line-80 {
    margin: 30px auto;
  }
  .mobile #celek h3 {
    font-size: 24px;
    line-height: 34px;
  }
  .mobile #celek .pl-text-15 {
    font-size: 15px;
    line-height: 32px;
    margin-top: 15px;
  }
  .mobile #celek .pl-pw-40 {
    padding: 0;
    margin-left: 20px;
  }
  .mobile #celek .pl-pl-40 {
    padding-left: 15px;
    padding-right: 15px;
  }
  .mobile #celek .pl-left-brown-border {
    border-left: 8px solid #50233a;
  }
  .mobile #celek img.pl-full-w.pl-p-60.imgFix {
    width: 100%;
    padding: 0px;
  }
  .mobile #celek .marginFix {
    margin-left: 20px;
  }
  .mobile #celek .pl-80-wMobile {
    width: 80% !important;
    display: block;
    margin: auto;
  }
  .mobile #celek .pl-block-option {
    display: flex;
    flex-direction: column;
  }
  .mobile #celek .pl-right-option {
    width: 100%;
    padding: 16px 16px;
    float: none;
  }
  .mobile #celek .pl-right-option ul li {
    font-size: 15px;
  }
  .mobile #celek .pl-left-option {
    width: 100%;
    background-color: #ffffff;
    padding: 30px 40px 0 40px;
    float: left;
  }
  .mobile #celek .pl-block-last-left p {
    font-size: 15px;
    line-height: 32px;
    color: #585858;
    margin-top: 40px;
    font-weight: 400;
  }
  .mobile #celek .pl-block-last-left {
    margin: 0;
    padding: 20px 10px;
  }
}/*# sourceMappingURL=style.css.map */