/* CSS Document */
@font-face {
  font-family: "Archer-sage";
  src: url("../fonts/Archer-Light-Pro.otf");
  font-style: normal;
}
@font-face {
  font-family: "Archer-sage";
  src: url("../fonts/Archer-LightItal-Pro.otf");
  font-style: italic;
}
@font-face {
  font-family: "Archer-sage";
  src: url("../fonts/Archer-Bold-Pro.otf");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Archer-sage";
  src: url("../fonts/Archer-BoldItal-Pro.otf");
  font-style: italic;
  font-weight: bold;
}
@font-face {
  font-family: "Archer-sage";
  src: url("../fonts/Archer-Semibold-Pro.otf");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Archer-sage";
  src: url("../fonts/Archer-SembdItal-Pro.otf");
  font-style: italic;
  font-weight: 600;
}
.layout-0 #celek * {
  margin: 0px auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Archer-sage", sans-serif;
}

.layout-0 #celek {
  width: 920px;
  margin: 0 auto;
  font-size: 16px;
}
.layout-0 #celek .pl-block {
  width: 100%;
  position: relative;
}
.layout-0 #celek .pl-block img.pl-full-w {
  width: 100%;
  height: auto;
}
.layout-0 #celek .pl-block img.pl-80-w {
  width: 80%;
  height: auto;
}
.layout-0 #celek p {
  line-height: 36px;
}
.layout-0 #celek .pl-video-yt {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}
.layout-0 #celek .pl-video-yt iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.layout-0 #celek .pl-block-2-3 {
  width: 66.66%;
  float: left;
}
.layout-0 #celek .pl-block-1-3 {
  width: 33.33%;
  float: left;
}
.layout-0 #celek .pl-block-1-4 {
  width: 25%;
  float: left;
}
.layout-0 #celek .pl-block-2-4 {
  width: 50%;
  float: left;
}
.layout-0 #celek .pl-block-3-4 {
  width: 75%;
  float: left;
}
.layout-0 #celek .pl-block-4-2-4 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.layout-0 #celek .pl-block-4 {
  width: 40%;
  float: left;
}
.layout-0 #celek .pl-block-2 {
  width: 20%;
  float: left;
}
.layout-0 #celek .pl-img-hl1 {
  width: 342px;
}
.layout-0 #celek .pl-d-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.layout-0 #celek .pl-block-four-icon {
  margin: 40px 10px;
  padding: 50px 0;
  border-top: 3px solid #E6E8EF;
  border-bottom: 3px solid #E6E8EF;
  display: flex;
}
.layout-0 #celek .pl-block-four-icon p {
  font-size: 18px;
  font-style: italic;
  text-align: center;
  color: #585858;
  margin: 20px 20px 0 20px;
  line-height: 26px;
}
.layout-0 #celek .pl-block-four-icon .pl-border-left {
  border-left: 1px solid black;
}
.layout-0 #celek .pl-block-four-icon .pl-border-right {
  border-right: 1px solid black;
}
.layout-0 #celek .pl-left-brown-border {
  border-left: 12px solid #50233A;
}
.layout-0 #celek .pl-gray-block {
  width: 80%;
  background-color: #50233A;
  color: #FFFFFF;
  text-align: center;
  padding: 35px;
  z-index: 5;
  position: relative;
  top: 45px;
}
.layout-0 #celek .pl-gray-block p {
  color: #E6E8EF;
  font-size: 32px;
  font-weight: bold;
}
.layout-0 #celek .pl-right-option {
  width: 64%;
  background-color: #E6E8EF;
  padding: 45px 45px;
  float: left;
}
.layout-0 #celek .pl-right-option ul {
  list-style: none;
}
.layout-0 #celek .pl-right-option ul li {
  line-height: 28px;
  font-size: 16px;
  border-bottom: 4px solid #FFFFFF;
  margin: 10px 0;
  padding-bottom: 10px;
}
.layout-0 #celek .pl-left-option {
  width: 36%;
  background-color: #FFFFFF;
  padding: 0 40px 0 40px;
  float: left;
}
.layout-0 #celek .pl-block-last-right {
  width: 43%;
  float: left;
}
.layout-0 #celek .pl-block-last-left {
  width: 57%;
  float: left;
  margin: 20px 20px 20px 40px;
}
.layout-0 #celek .pl-block-last-left p {
  font-size: 16px;
  line-height: 36px;
  font-weight: bold;
  color: #585858;
  margin-top: 20px;
}
.layout-0 #celek .pl-iconx-1 {
  background: transparent url("../img/ico_01_mlynek.svg") 50% 0% no-repeat padding-box;
  background-size: contain;
  height: 45px;
}
.layout-0 #celek .pl-iconx-2 {
  background: transparent url("../img/ico_02_pid.svg") 50% 0% no-repeat padding-box;
  background-size: contain;
  height: 45px;
}
.layout-0 #celek .pl-iconx-3 {
  background: transparent url("../img/ico_03_predspareni.svg") 50% 0% no-repeat padding-box;
  background-size: contain;
  height: 45px;
}
.layout-0 #celek .pl-iconx-4 {
  background: transparent url("../img/ico_04_mnozstvi.svg") 50% 0% no-repeat padding-box;
  background-size: contain;
  height: 45px;
}
.layout-0 #celek .pl-iconx-5 {
  background-image: url("../img/Group 110.svg"), url("../img/Group 107.svg");
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, 70px 70px;
  height: 144px;
}
.layout-0 #celek sup {
  font-size: 20px;
}
.layout-0 #celek h2 {
  font-size: 42px;
}
.layout-0 #celek h3 {
  font-size: 32px;
  line-height: 42px;
  font-weight: bold;
  color: #50233A;
}
.layout-0 #celek h4 {
  font-size: 36px;
  font-weight: bold;
  line-height: 42px;
}
.layout-0 #celek .pl-txt-center {
  text-align: center;
}
.layout-0 #celek .pl-hr-line-80 {
  height: 3px;
  width: 95%;
  background-color: #E6E8EF;
  margin: 60px auto;
}
.layout-0 #celek .pl-brown-italic-26 {
  font-size: 26px;
  line-height: 36px;
  color: #50233A;
  font-style: italic;
  font-weight: 600;
}
.layout-0 #celek .pl-brown-26 {
  font-size: 26px;
  color: #50233A;
}
.layout-0 #celek .pl-img-title {
  font-size: 16px;
  line-height: 26px;
  font-style: italic;
  color: #50233A;
  text-align: center;
}
.layout-0 #celek .pl-mt-20 {
  margin-top: 20px;
}
.layout-0 #celek .pl-mt-40 {
  margin-top: 40px;
}
.layout-0 #celek .pl-mt-60 {
  margin-top: 60px;
}
.layout-0 #celek .pl-mt-80 {
  margin-top: 80px;
}
.layout-0 #celek .pl-m-20 {
  margin: 20px;
}
.layout-0 #celek .pl-m-40 {
  margin: 40px;
}
.layout-0 #celek .pl-m-60 {
  margin: 60px;
}
.layout-0 #celek .pl-ml-20 {
  margin-left: 20px;
}
.layout-0 #celek .pl-ml-40 {
  margin-left: 40px;
}
.layout-0 #celek .pl-ml-60 {
  margin-left: 60px;
}
.layout-0 #celek .pl-ml-80 {
  margin-left: 80px;
}
.layout-0 #celek .pl-mr-20 {
  margin-right: 20px;
}
.layout-0 #celek .pl-mr-40 {
  margin-right: 40px;
}
.layout-0 #celek .pl-mr-60 {
  margin-right: 60px;
}
.layout-0 #celek .pl-mr-80 {
  margin-right: 80px;
}
.layout-0 #celek .pl-mw-20 {
  margin-left: 20px;
  margin-right: 20px;
}
.layout-0 #celek .pl-mw-40 {
  margin-left: 40px;
  margin-right: 40px;
}
.layout-0 #celek .pl-mw-60 {
  margin-left: 60px;
  margin-right: 60px;
}
.layout-0 #celek .pl-mw-80 {
  margin-left: 80px;
  margin-right: 80px;
}
.layout-0 #celek .pl-mb-20 {
  margin-bottom: 20px;
}
.layout-0 #celek .pl-mb-40 {
  margin-bottom: 40px;
}
.layout-0 #celek .pl-mb-60 {
  margin-bottom: 60px;
}
.layout-0 #celek .pl-mb-80 {
  margin-bottom: 80px;
}
.layout-0 #celek .pl-pl-40 {
  padding-left: 40px;
}
.layout-0 #celek .pl-text-26 {
  font-size: 26px;
}
.layout-0 #celek .pl-p-60 {
  padding: 60px;
}
.layout-0 #celek .pl-pw-40 {
  padding-left: 40px;
  padding-right: 40px;
}
.layout-0 #celek .bold {
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */